blinker==1.9.0
click==8.1.8
fastapi[all]==0.111.1
uvicorn[standard]==0.30.3
aiosqlite==0.20.0 # Async driver for SQLite
greenlet==3.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
SQLAlchemy==2.0.40
typing_extensions==4.13.2
Werkzeug==3.1.3
